body {
  text-align: center;
  background-color: #fff4b6;
}

img {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
  overflow: hidden;
  margin: 10px
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-container > div {
  width: 60%;
  margin: 10px;
  text-align: center;
  line-height: 80%;
  font-size: 30px;
}
